//Importing global variables and styles.
@import '../../assets/styles/styles.scss';

header{
    width: 100%;
    border-bottom: 1px solid $gray;
    padding: 10px 0px 20px 0px;
    height: 90px;
    border-top: 10px solid black;
    background-size: cover;
    border-bottom: 3px solid white;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/header-background.png');
    .logo{
        float: left;
        p{
            font-family: $raleway-stack;
            color: lightblue;
            font-weight: 400;
            font-size: 22px;
            margin-top: 0px;

        }
    }
    .navigation-wrapper{
        float: right;
        .navigation{
            width: 300px;
            margin: 0 auto;
            padding-left: 0px;
            li {
                float: left;
                padding: 5px 15px;
                margin-top: 0px;
                list-style: none;
                cursor: pointer;
                a{
                    font-size: 14px;
                    color: white;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    font-family: $raleway-stack;
                    text-decoration: none;
                    padding: 0px 2px 2px 2px;
                    transition: color 1s;
                    &:hover{
                        color: lightblue;
                    }
                }
                &:nth-child(3){
                    padding-right: 0px;
                }
            }
        }
    }
}
