//Importing global variables and styles.
@import '../../assets/styles/styles.scss';

.page-container {
    padding-top: 30px;
    padding-bottom: 120px;
    @media #{$desktop}{
        width: 960px;
        margin: 0 auto;
    }
    @media #{$tablet}{
        width: 89%;
        margin: 0 auto;
    }
    @media #{$mobile}{
        width: 93%;
        padding-top: 20px;
        display: block;
        margin: 0 auto;
    }
}
